:root {
    --border-radius: 7px;
    --border-width: 2px;
    --offset: -7em;
}

@font-face {
    font-family: "Fira Code";
    src: url("/FiraCodeNerdFontMono-Medium.ttf");
}

@font-face {
    font-family: "Maple Mono";
    src: url("/MapleMono-CN.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--text);
}

#parent {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    /* white-space:pre; */
    user-select: none;
}

#cat {
    position: absolute;
    bottom: 1em;
    white-space: pre;
}

#meow {
    position: absolute;
    bottom: 4.5em;
    white-space: pre;
}

#catSitting {
    position: absolute;
    bottom: 0em;
    white-space: pre;
}

#soks {
    display: flex;
    align-items: center;
    transform: translateY(var(--offset));
    scale: 1.5;
    letter-spacing: -0.3px;
    line-height: 1em;
}

.heart {
    position: absolute;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(var(--offset));
    width: 20%;
    min-width: 11em;
}

#text div {
    padding: 0.5em;
}

#theme-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#theme:hover {
    text-decoration: underline;
}

#about:hover {
    text-decoration: underline;
}

#border {
    position: absolute;
    border: var(--border-width) solid var(--primary);
    border-radius: var(--border-radius);
    width: calc(100% - 1.5em);
    height: calc(100% - 1.5em);
}

.container {
    position: absolute;
    background: var(--background);
    /* margin: 10%; */
    /* margin-top: 2em; */
    min-height: 30em;
    min-width: 30em;
    border: var(--border-width) solid var(--primary);
    border-radius: var(--border-radius);
    transform: translateY(-3em);
    padding: 1em;
    color: var(--text);
    user-select: none;
}

.container:focus-visible {
    outline: none;
}

.container pre {
    text-align: center;
    line-height: 1.1em;
}

.container div {
    line-height: 1.5em;
}

.theme_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: var(--border-width) solid red;
    border-radius: var(--border-radius);
    padding: 0.5em;
    margin: 0.5em;
    align-items: center;
}

.theme_box div:first-child {
    width: 50%;
}

@keyframes rainbow {
    0% {
        color: var(--red);
    }

    16% {
        color: var(--orange);
    }

    33% {
        color: var(--yellow);
    }

    50% {
        color: var(--green);
    }

    66% {
        color: var(--blue);
    }

    83% {
        color: var(--purple);
    }

    100% {
        color: var(--red);
    }
}

.rainbow {
    animation: 2s infinite rainbow;
}
